<?xml version="1.0" encoding="utf-8"?>
<charset>
  <FileVersion>2</FileVersion>
  <BK1>07</BK1>
  <BK2>77</BK2>
  <Col3>37</Col3>
  <Reversed>False</Reversed>
  <Multicolour>False</Multicolour>
  <Uppercase>True</Uppercase>
  <character>
    <charcode>30</charcode>
    <chardata>
      <data>24</data>
      <data>24</data>
      <data>24</data>
      <data>60</data>
      <data>60</data>
      <data>126</data>
      <data>126</data>
      <data>195</data>
    </chardata>
  </character>
  <character>
    <charcode>41</charcode>
    <chardata>
      <data>48</data>
      <data>56</data>
      <data>28</data>
      <data>28</data>
      <data>28</data>
      <data>56</data>
      <data>48</data>
      <data>0</data>
    </chardata>
  </character>
  <character>
    <charcode>46</charcode>
    <chardata>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
      <data>16</data>
      <data>0</data>
      <data>0</data>
      <data>0</data>
    </chardata>
  </character>
</charset>
